@model MyTvTime.Models.Movie

@{
	ViewData["Title"] = Model.Name;
}

<style>
	.displayName {
		font-weight: bold;
		display: inline-block;
	}

	.data {
		display: inline-block;
	}

	.description {
		max-width: 50%;
		margin: 20px 20px 20px;
		color: gray;
		display: inline-block;
	}

	img {
		display: inline-block;
	}

	.addWatchList {
		background-image: url('https://cdn0.iconfinder.com/data/icons/mix-of-simple-vol-4/57/02-512.png');
		border: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 8vh;
		width: 5vw;
		border-radius: 5px;
	}

	.removeWatchList { 
		background-image: url('https://art-tshirt.com/wp-content/uploads/2019/09/FFFFFF.png');
		border: none;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		height: 8vh;
		width: 5vw;
		border-radius: 5px; 

	}


	h4 {
		display: inline-block;
	}
</style>

<div>
	<div>
		<div style="display: inline-block;">
			<form asp-controller="Movies" asp-action="AddToWatchList" method="post">
				<input type="hidden" name="movieId" value="@Html.DisplayFor(model => model.ID)" />
				@if (!ViewBag.inWatchList)
				{
					<input type="hidden" name="isExist" value="0" />
					@:<input type="submit" class="addWatchList" value=" "/>

				}
				else
				{
					<input type="hidden" name="isExist" value="1" />
					@: <input type="submit" class="removeWatchList" value=" " />
				}
			</form>
		</div>
		<h4>@Html.DisplayFor(model => model.Name)</h4>
	</div>
	
	<hr />
	<div>
		<img src="@Model.ImageURL" width="100" />
		<div class="description"> @Model.Description</div>
	</div>

	<div>
		<div class="displayName">
			@Html.DisplayNameFor(model => model.Genres):
		</div>
		<div class="data">
			@foreach (MovieGenres movieGenres in Model.Genres)
			{
				<div class="data">
					@movieGenres.Genre.Name ,
				</div>
			}
		</div>
	</div>
	<div>
		<div class="displayName">@Html.DisplayNameFor(model => model.ReleaseDate):</div>
		<div class="data"> @Model.ReleaseDate.ToShortDateString()</div>
	</div>
	<div>
		<div class="displayName">@Html.DisplayNameFor(model => model.Language):</div>
		<div class="data"> @Model.Language</div>
	</div>
	<div>
		<div class="displayName">@Html.DisplayNameFor(model => model.Runtime):</div>
		<div class="data"> @Model.Runtime</div>
	</div>
</div>
<hr />

<!--Display Comment Section-->
<div>
	<h5>What Other People Think?</h5>
	@if (!Model.Comments.Any())
	{
		<p>Be the first to add a comment.</p>
	}
	else
	{
		<ol>
			@foreach (Comment comment in Model.Comments)
			{
				<li>
					<address>
						<a asp-controller="Users" asp-action="Details" asp-route-id="@comment.UserID">@comment.User.username</a>
					</address>
					<article>
						@comment.Text
					</article>
					@if (comment.UserID == (int)ViewData["UserID"])
					{
						<button id="deleteButton" type="button" class="btn btn-danger" data-toggle="modal" data-id="@comment.ID" data-text="@comment.Text" data-target="#deleteCommentModal">Delete</button>
						<button id="editButton" type="button" class="btn btn-info" data-toggle="modal" data-id="@comment.ID" data-text="@comment.Text" data-target="#editCommentModal">Edit</button>
					}
				</li>
			}
		</ol>
	}
</div>

<!--Add Comment Section-->
<div>
	<form asp-controller="Comments" asp-action="AddComment">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<input name="movieID" value="@Model.ID" hidden />
			<textarea name="commentText" class="form-control" placeholder="Write here..." required></textarea>
		</div>
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</form>
</div>

<!--Delete Comment Modal Section-->
<script type="text/javascript">
	$(document).on('click', '#deleteButton', function () {
		$('#deleteModalCommentText').text($(this).data('text'));
		$('#commentIDToDelete').val($(this).data('id'));
	});
</script>

<div id="deleteCommentModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Are you sure you want to delete this comment?</h4>
			</div>
			<div class="modal-body">
				<p id="deleteModalCommentText"></p>
			</div>
			<div class="modal-footer">
				<form asp-controller="Comments" asp-action="Delete" method="post">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<input id="commentIDToDelete" type="hidden" name="id" value="" />
					<input type="hidden" name="movieID" value="@Model.ID" />
					<button type="submit" class="btn btn-danger" formaction="/Comments/Delete">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!--Edit Comment Modal Section-->
<script type="text/javascript">
	$(document).on('click', '#editButton', function () {
		$('#editModalCommentText').val($(this).data('text'));
		$('#commentIDToEdit').val($(this).data('id'));
	});
</script>

<div id="editCommentModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Comment</h4>
			</div>
			<div class="modal-body">
				<form asp-controller="Comments" asp-action="Edit">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="form-group">
						<input type="hidden" name="movieID" value="@Model.ID" />
						<input id="commentIDToEdit" type="hidden" name="id" value="" />
						<textarea id="editModalCommentText" name="newCommentText" class="form-control" required></textarea>
					</div>
					<div class="form-group">
						<input type="submit" value="Edit" class="btn btn-primary" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<div>
	<a asp-action="Index">Back to movies List</a>
</div>

