@model IEnumerable<MyTvTime.Models.Movie>

@{
    ViewData["Title"] = "Index";
    <script type="text/javascript">

        $(document).ready(function () {
            var languages = $('#language');
            var genres = $('#genre');
            var languageSettings = {
                "async": true,
                "crossDomain": true,
                "url": "https://wft-geo-db.p.rapidapi.com/v1/locale/languages?limit=10",
                "method": "GET",
                "headers": {
                    "x-rapidapi-host": "wft-geo-db.p.rapidapi.com",
                    "x-rapidapi-key": "58193b92e9msh4940fad70ac6d4fp1bfe08jsn592fbe2245b9"
                }
            }
            $.ajax(languageSettings).done(function (response) {
                languages.empty().append($('<option></option>').val('').text('Please select'));
                $.each(response.data, function (index, item) {
                    languages.append($(`<option></option>`).val(item.name).text(item.name));
                });
            });
        });
    </script>
}

<h1>Index</h1>

<form asp-controller="Movies" asp-action="Index" method="get">
    <div class="search-section">
        <div class="search-field">
            <label class="control-label">Title: </label>
            <input type="text" id="title-field" name="title">
        </div>
        <div class="search-field">
            <label class="control-label">Language: </label>
            <select id="language" name="language" class="form-control"></select>
        </div>
        <div class="search-field">
            <label class="control-label">Release Year: </label>
            <input type="number" name="ReleaseYear">
        </div>
        <div class="dropdown">
            @Html.DropDownList("genre", ViewData["GenresSelectList"] as List<SelectListItem>, new { @class = "form-control" })
        </div>
        <input type="submit" value="Filter" />
</div>
</form>

<div class="container-fluid">
    @if (ViewData["isIMDB"] != null)
    {
        <p>Results from IMDB...</p>
    }
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-auto">
                <ul style="list-style-type:none">
                    <li>
                        <img src="@item.ImageURL" width="100" />
                    </li>
                    <li>
                        @if (item.ID != -1)
                        {
                            <a asp-action="Details" asp-route-id="@item.ID">@item.Name</a>
                        }
                        else
                        {
                            <a asp-action="AddMovie" asp-route-IMDBID="@item.IMDBID">@item.Name</a>
                        }
                    </li>
                </ul>
            </div>
        }
    </div>
</div>

<form asp-controller="Movies" asp-action="IndexIMDB" method="get">
        <div>
            <label class="control-label">
                Didn't found what you were looking for?
                Try searching using IMDB.
            </label>
            <input type="text" name="title" placeholder="Title to search on IMDB...">
        </div>
        <input type="submit" value="IMDB Search" />
</form>
