@model IEnumerable<MyTvTime.Models.Movie>

@{
	ViewData["Title"] = "Movies";
	<script type="text/javascript">

		$(document).ready(function () {
			var languages = $('#language');
			var genres = $('#genre');
			var languageSettings = {
				"async": true,
				"crossDomain": true,
				"url": "https://wft-geo-db.p.rapidapi.com/v1/locale/languages?limit=10",
				"method": "GET",
				"headers": {
					"x-rapidapi-host": "wft-geo-db.p.rapidapi.com",
					"x-rapidapi-key": "58193b92e9msh4940fad70ac6d4fp1bfe08jsn592fbe2245b9"
				}
			}
			$.ajax(languageSettings).done(function (response) {
				languages.empty().append($('<option></option>').val('').text('Language'));
				$.each(response.data, function (index, item) {
					languages.append($(`<option></option>`).val(item.name).text(item.name));
				});
			});
		});
	</script>
}

<style>
	input:focus {
		outline: 0;
	}

	.filterInput > input {
		border-radius: 14px;
		text-align: center;
		width: 80%;
		border: 2px solid gray;
	}

	.filterInput > select {
		border-radius: 14px;
		width: 80%;
		border: 2px solid gray;
	}

	.filterButtom {
		border-radius: 14px;
		border: 0px;
		background: #1976d2;
		height: 100%;
		width: 10%;
		color: white;
	}

	.imdbFilter > input {
		border-radius: 14px;
		text-align: center;
		border: 2px solid gray;
	}

	.imdbFilterButtom {
		border-radius: 14px;
		border: 0px;
		background: #1976d2;
		width: 10%;
		color: white;
		margin-left: 5%
	}

	.noMovies {
		width: 100%;
		height: 100%;
		text-align: center;
	}
</style>

<h1>Search Movie</h1>

<form asp-controller="Movies" asp-action="Index" method="get">
	<div class="search-section" style="margin: 50px 0px 25px;">
		<div class="search-field filterInput">
			<input type="text" id="title-field" name="title" placeholder="Title">
		</div>
		<div class="search-field filterInput">
			<select id="language" name="language" class="form-control "></select>
		</div>
		<div class="search-field filterInput">
			<input type="number" name="ReleaseYear" placeholder="Release Year">
		</div>
		<div class="search-field filterInput">
			@Html.DropDownList("genre", ViewData["GenresSelectList"] as List<SelectListItem>, "Genre", new { @class = "form-control" })
		</div>
		<input type="submit" value="Filter" class="filterButtom" />
	</div>
</form>


<form asp-controller="Movies" asp-action="IndexIMDB" method="get">
	<div style="display:flex; height:30px; margin-bottom:50px">
		<div class="imdbFilter">
			<label class="control-label">
				Didn't found what you were looking for?
				Try searching using IMDB.
			</label>
			<input type="text" name="title" placeholder="Title to search on IMDB...">
		</div>
		<input type="submit" value="IMDB Search" class="imdbFilterButtom" />
	</div>

</form>
<hr />

@if (Model.Count() == 0)
{
	<div class="noMovies">
		<p>- No Movie Found -</p>
	</div>
}
else
{
	<div class="container-fluid">
		@if (ViewData["isIMDB"] != null)
		{
			<p>Results from IMDB...</p>
		}
		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-md-auto" style="width: 20%;">
					<ul style="list-style-type:none">
						<li style="width: 30%;">
							<img src="@item.ImageURL" width="100" style="height: 25vh" />
						</li>
						<li style="text-align: center;width: 70%;">
							@if (item.ID != -1)
							{
							<a asp-action="Details" asp-route-id="@item.ID">@item.Name</a>
							}
							else
							{
							<a asp-action="AddMovie" asp-route-IMDBID="@item.IMDBID">@item.Name</a>
							}
						</li>
					</ul>
				</div>
			}
		</div>
	</div>
}
